<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <p>Successfully added the genre "<%= justadded %></p>
    <a href="/">Return Home</a>
    <a href="/genre/settings">Add another</a>
    
</body>
</html>