<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%=title%></title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <div class="mainContent indexPage">
    <div class="leftIndex">
      <h1>Choose a genre to view</h1>

      <div class="genreList">
        <% locals.genres.forEach((genre) => { %>
        <li><a href="/record/<%=genre.id%>"><%=genre.genre_name%></a></li>
        <% }) %>
      </div>

      <li><a href="/record/all">All records</a></li>
    </div>

    <div class="rightIndex">
      <div class="goto">
        <h1>Add new record</h1>
        <a href="/record/new">&gt;</a>
      </div>
      <div class="goto">
        <h1>Manage genres</h1>
        <a href="/genre">&gt;</a>
      </div>
    </div>
  </div>

</body>

</html>