@font-face {
  font-family: "Monoton";
  src: url(fonts/Monoton-Regular.ttf);
}

@font-face {
  font-family: "Lazelar";
  src: url(fonts/Lalezar-Regular.ttf);
}

@font-face {
  font-family: "PT Sans";
  src: url(fonts/PTSans-Regular.ttf), url(fonts/PTSans-Italic.ttf),
    url(fonts/PTSans-Bold.ttf), url(fonts/PTSans-BoldItalic.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(15, 15, 15);
  min-height: 100px;
}

.headerContainer {
  padding: 10px;
  margin: 0 auto;
}

.headerContainer h3 {
  font-size: 20px;
  font-family: "Lazelar", sans-serif;
  color: white;
  font-weight: normal;
  margin-bottom: -20px;
  letter-spacing: 5px;
}

.headerContainer h1 {
  font-size: 60px;
  font-family: "Monoton", sans-serif;
  color: white;
  font-weight: normal;
}

.headerContainer a {
  text-decoration: none;
  color: white;
}

.mainContent {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.mainContent.indexPage {
  flex-direction: row;
  gap: 50px;
}

.mainContent.indexPage .leftIndex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.mainContent.indexPage .rightIndex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.mainContent.indexPage .leftIndex a {
  color: dodgerblue;
  font-size: 20px;
}

.mainContent.indexPage .rightIndex a {
  color: dodgerblue;
  font-size: 35px;
  text-decoration: none;
}

.mainContent.indexPage .rightIndex .goto {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.recordsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.recordDivs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
}

.recordDetails {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recordDetails p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recordDetails .buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: stretch;
  min-height: 25px;
}

.mainContent img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recordEditDiv {
  flex: 1;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.recordEditButton,
.confirmDeleteButton {
  border: none;
  text-decoration: none;
  flex: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  background-color: white;
  border: solid 1px black;
}

.recordEditButton:hover,
.confirmDeleteButton:hover {
  background-color: green;
  border: solid 1px green;
  color: white;
  cursor: pointer;
}

.recordDeleteButton,
.cancelDeleteButton {
  border: none;
  text-decoration: none;
  flex: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  background-color: white;
  border: solid 1px black;
}

.recordDeleteButton:hover,
.cancelDeleteButton:hover {
  background-color: crimson;
  border: solid 1px crimson;
  color: white;
  cursor: pointer;
}

.cancelDeleteButton,
.confirmDeleteButton {
  padding: 2px 8px;
}

.recordDeleteForm {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.returnLink {
  align-self: center;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 40px 0;
}

.returnLink a {
  color: black;
}

.recordForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  max-width: 600px;
  align-self: center;
}

.recordForm > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recordForm input {
  font-family: "PT Sans", sans-serif;
  padding: 2px 5px;
}

.recordForm button {
  align-self: center;
  border: none;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  background-color: white;
  color: black;
  border: solid 1px black;
  padding: 2px 15px;
  border-radius: 5px;
}

.recordForm button:hover {
  background-color:rgb(15, 15, 15);
  color: white;
  border: solid 1px rgb(15, 15, 15);
  cursor: pointer;
}

.recordForm .genreCheckboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.recordForm .genreCheckboxes > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.errorList {
  padding: 0 20px;
}

.successPage .recordDivs {
    max-width: none;
    flex-direction: row;
    gap: 25px;
}

.successPage .recordDetails {
    align-self: center;
    font-size: 20px;
}

.genreSetting .addGenreDiv {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.genreSetting .addGenreDiv input {
  font-family: "PT Sans", sans-serif;
  padding: 2px 5px;
}

.genreSetting .addGenreDiv form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.genreSetting .addGenreDiv form button {
  align-self:stretch;
  border: none;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  background-color: white;
  color: black;
  border: solid 1px black;
  padding: 2px 15px;
  border-radius: 5px;
}

.genreSetting .addGenreDiv form button:hover {
  background-color:rgb(15, 15, 15);
  color: white;
  border: solid 1px rgb(15, 15, 15);
  cursor: pointer;
}

.genreSetting .rdStatus {
  white-space: pre-line;
}

.genreSetting .genreListDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: baseline;
}

.genreSetting .genreDivs {
  display: grid;
  grid-template-columns: 300px 100px 100px;
  gap: 10px;
  border: solid 1px black;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  min-height: 50px;
}

.genreSetting .genreDivs p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.genreSetting .deleteBtnDiv {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: aqua;
}

.genreSetting .renameButton {
  border: none;
  text-decoration: none;
  flex: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  background-color: white;
  border: solid 1px black;
  padding: 4px 8px;
}

.genreSetting .renameButton:hover {
  background-color: green;
  border: solid 1px green;
  color: white;
  cursor: pointer;
}

.genreSetting .deleteButton {
  border: none;
  text-decoration: none;
  flex: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  background-color: white;
  border: solid 1px black;
  padding: 4px 8px;
}

.genreSetting .deleteButton:hover {
  background-color: crimson;
  border: solid 1px crimson;
  color: white;
  cursor: pointer;
}

.genreSetting .genreRenameForm input {
  font-family: "PT Sans", sans-serif;
  padding: 2px 5px;
}

.genreSetting .genreRenameForm button {
  border: none;
  text-decoration: none;
  flex: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  background-color: white;
  border: solid 1px black;
  padding: 4px 8px;
}

.genreSetting .genreRenameForm button:hover {
  background-color: green;
  border: solid 1px green;
  color: white;
  cursor: pointer;
}

.oops {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.viewPage .recordDetails {
  flex: 1;
}

.viewPage .recordDetails .buttonContainer {
  margin-top: 10px;
  align-self: baseline;
}

.viewPage .recordDetails button {
  width: 80px;
}

.footer {
  background-color: rgb(15, 15, 15);
  min-height: 50px;
  color: white;
  padding: 10px;
  text-align: center;
}



/* THIS PART IS FOR HIDE/SHOW THROUGH CLICKS */

.genreRenameForm {
  display: none;
}

.genreRenameForm.show {
  display: block;
}

.recordDeleteForm {
  display: none;
}

.recordDeleteForm.show {
  display: flex;
}

.recordDeleteButton.hide {
  display: none;
}

.recordEditDiv.hide {
  display: none;
}

.genreName.hide {
  display: none;
}

.renameButton.greyed:hover {
  background-color: grey;
  border: solid 1px grey;
}

/* MEDIA SETTINGS */

@media (max-width: 700px) {

  .successPage .recordDivs {
    flex-direction: column;
  }

  .successPage .recordDivs img {
    width: 70%;
    height: auto;
    align-self: center;
  }

  .successPage .recordDivs .recordDetails{
    flex-direction: column;
    align-self: stretch;
    align-items: center;
  }

  .successPage .recordDivs .recordDetails .buttonContainer{
    align-self: center;
  }
}

@media (max-width: 600px) {

  .mainContent {
    padding: 50px 10px;
  }

  .mainContent.indexPage {
    flex-direction: column;
    gap: 50px;
  }

  .mainContent.indexPage .leftIndex {
    border-right: none;
  }

  .genreSetting .genreDivs {
    grid-template-columns: 2fr 1fr 1fr;
    gap: 5px;
    width: 100%;

  }
  .genreSetting input {
    flex:1;
  }

  .genreSetting .genreDivs input {
    width: 60%;
  }

  .returnLink {
    flex-direction: column;
    gap: 10px;
    padding: 40px 0;
    align-self: center;
    align-items: center;
  }
}
