.genreRenameForm {
    display: none;
}

.genreRenameForm.show {
    display: block;
}

.recordDeleteForm {
    display: none;
}

.recordDeleteForm.show {
    display: block;
}

.recordDeleteButton.hide {
    display: none;
}